on property:sys.boot_completed=1

    # Turn off debugging for certain modules
    write /sys/module/kernel/parameters/initcall_debug 0
    write /sys/module/lowmemorykiller/parameters/debug_level 0
    write /sys/module/xt_qtaguid/parameters/debug_mask 0

    # Set idle GPU to 100 Mhz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6

    # Configure cpu boost
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1209600 2:825600"
    write /sys/module/cpu_boost/parameters/input_boost_ms 150

    # setprop
    setprop persist.adb.notify 0
    setprop persist.service.adb.enable 1
    setprop logcat.live disable
    setprop profiler.force_disable_ulog 1
    setprop profiler.force_disable_err_rpt 1
    setprop ro.kernel.checkjni 0
    setprop ro.kernel.android.checkjni 0
    ro.vendor.qti.config.zram=false
    ro.vendor.qti.sys.fw.bg_apps_limit=60
